<div class="landing-page">
  <div class="landing-page__logo-container">
    <img class="landing-page__logo" src="../../../assets/logo_dark.png" />
  </div>

  <div class="landing-page__content">
    <p class="landing-page__description">
      {{ "LANDING_PAGE_HEADER_TEXT" | translate }}
    </p>
    <div class="landing-page__actions">
      <button
        mat-flat-button
        color="primary"
        class="landing-page__action"
        [routerLink]="'auth/login'"
      >
        {{ "AUTH_LOGIN" | translate }}
      </button>
      <button
        mat-flat-button
        class="landing-page__action"
        [routerLink]="'auth/register'"
      >
        {{ "AUTH_REGISTER" | translate }}
      </button>
      <button
        mat-button
        color="accent"
        class="landing-page__action"
        [routerLink]="'recipes'"
      >
        {{ "LANDING_PAGE_DISCOVER_BUTTON_TEXT" | translate }}
      </button>
    </div>
  </div>
</div>
