@use "../../themes/vars" as vars;
@use "../../themes/mixins" as mixins;

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background: url("/assets/photos/landing-page-background-horizontal.jpg")
    rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-blend-mode: multiply;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  &__logo-container {
    width: 100%;
    max-width: 300px;
  }

  &__logo {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__description {
    margin-bottom: 24px;
    text-align: center;
    color: var(--white);
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  &__action {
    @include mixins.standard-button-properties();
  }
}
