@use "../../themes/vars" as vars;
@use "../../themes/mixins" as mixins;

.landing-page {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  &__logo-container {
    width: 100%;
    max-width: 300px;
  }

  &__logo {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__description {
    margin-bottom: 24px;
    text-align: center;
    color: #6d6d6d;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  &__action {
    @include mixins.standard-button-properties();
  }
}
