<div class="header">
  <div class="header__left-side">
    <img class="header__logo" src="../../assets/logo_dark.png" />
  </div>

  <div class="header__right-side">
    <div class="menu">
      <ng-container *ngTemplateOutlet="menu" />
    </div>

    <div class="hamburger-menu">
      <button mat-icon-button (click)="toggleHamburgerMenu()">
        <mat-icon fontIcon="menu" />
      </button>

      @if (hamburgerMenuActive()) {
        <div class="hamburger-menu__content">
          <div class="hamburger-menu__close-btn-wrapper">
            <button mat-icon-button (click)="toggleHamburgerMenu()">
              <mat-icon fontIcon="close" />
            </button>
          </div>

          <div class="hamburger-menu__items">
            <ng-container *ngTemplateOutlet="menu" />
          </div>
        </div>
      }
    </div>
  </div>
</div>

<ng-template #menu>
  @for (item of menuItems(); track item) {
    <button mat-button class="menu-item" (click)="item.callback()">
      {{ item.labelKey | translate }}
    </button>
  }

  <div class="header__auth-actions">
    <button mat-stroked-button color="primary">
      {{ "AUTH_LOGIN" | translate }}
    </button>

    <button mat-flat-button color="primary">
      {{ "AUTH_REGISTER" | translate }}
    </button>
  </div>
</ng-template>
