<div class="recipes">
  <app-navigate-landing-page />

  <div class="recipes__header">
    <img src="../../../../../assets/logo_dark.png" />
  </div>

  <app-categories />

  <div class="recipes__wrapper">
    <div class="recipes__list">
      <!--      <app-recipes-list-item-->
      <!--        *ngFor="let recipe of recipes"-->
      <!--        class="recipes__list-item"-->
      <!--        [recipe]="recipe"-->
      <!--      >-->
      <!--      </app-recipes-list-item>-->
    </div>
  </div>
</div>
