@use "./app/themes/vars" as v;
@use "./app/themes/mixins" as m;

.recipes {
  width: 100%;

  background: var(--background-image);

  &__header {
    height: 12vh;
    width: 100%;
    padding: v.$space-20;
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    width: 100%;
    padding: v.$space-20;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    gap: v.$space-16;
    grid-template-columns: 1fr 1fr;

    @include m.respond-to("sm") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include m.respond-to("md") {
      grid-template-columns: repeat(3, 1fr);
    }
    @include m.respond-to("lg") {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
