.recipes {
  padding: 20px;
  width: 100%;

  background: var(--background-image);

  &__header {
    height: 10vh;
    width: 100%;

    display: flex;
    justify-content: center;

    img {
      height: 100%;
    }
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__list {
    width: 100%;
    max-width: 1500px; // max columns
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  &__list-item {
    //min-width: 200px;
    //max-width: 250px;
    //flex: 1;
  }
}
