@use "./app/themes/vars" as v;

.recipes {
  width: 100%;

  background: var(--background-image);

  &__header {
    height: 12vh;
    width: 100%;
    padding: v.$space-20;
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
