@use "./app/themes/vars" as v;

.recipe-item {
  position: relative;
  overflow: hidden;

  &__photo-container {
    position: relative;
    border-radius: v.$space-16;
    width: 100%;
    overflow: hidden;
  }

  &__photo {
    position: static !important;
    object-fit: cover;
    aspect-ratio: 1;
  }

  &__details {
    padding: v.$space-8 0;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: v.$space-8;
  }

  &__time,
  &__rate {
    display: flex;
    align-items: center;
    gap: v.$space-4;
    font-size: 13px;
  }

  &__time-icon {
    color: v.$green;
  }

  &__rate-icon {
    color: v.$yellow;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }
}
