@use "./app/themes/mixins" as m;
@use "./app/themes/vars" as v;

:host {
  display: block;
  padding-right: 20px;
}

.categories {
  width: 100%;
  padding: 0 0 v.$space-8 v.$space-20;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    display: flex;
    gap: v.$space-12;
    justify-content: center;
    margin: 0 auto;
    min-width: fit-content;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    height: auto;
  }

  &__item-button {
    width: 64px;
    height: 64px;
    margin: 0;
    padding: v.$space-8;
    border-radius: v.$space-16;
  }

  &__item-icon {
    @include m.icon-size(40);
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  &__item-label {
    font-weight: v.$font-weight-500;
    font-size: v.$font-size-11;
  }
}
