@use "./app/themes/mixins" as m;
@use "./app/themes/vars" as v;

.categories {
  width: 100%;
  padding: 0 0 v.$space-8 v.$space-20;
  display: flex;
  gap: v.$space-12;
  overflow-x: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    height: auto;

    &:last-of-type {
      margin-right: v.$space-20;
    }
  }

  &__item-button {
    width: 64px;
    height: 64px;
    margin: 0;
    padding: v.$space-8;
  }

  &__item-icon {
    @include m.icon-size(40);
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}
