@import "./src/vars";

:host {
  position: relative;
}

.login-panel {
  &__photo {
    position: relative;
    height: 35%;
    overflow: hidden;

    img {
      position: absolute;
      min-height: 100%;
      max-width: 100%;
    }
  }

  &__content {
    position: relative;
    height: 65%;
    padding: 12px 12px 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: $background-color;

    -webkit-box-shadow: 0px -20px 70px 60px rgba(16, 16, 16, 1);
    -moz-box-shadow: 0px -20px 70px 60px rgba(16, 16, 16, 1);
    box-shadow: 0px -20px 70px 60px rgba(16, 16, 16, 1);
  }

  &__logo {
    height: 15vh;

    img {
      height: 100%;
    }
  }

  &__description {
    margin-bottom: 24px;
    text-align: center;
    color: #6d6d6d;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-input {
      width: 80%;

      .mdc-text-field {
        border: 1px solid #fff;
        border-radius: 12px;
        color: #fff;
        background: transparent;
      }

      input,
      label {
        color: #ffffff !important;
      }

      input {
        caret-color: #ffffff !important;
      }

      .mdc-line-ripple {
        display: none;
      }
    }

    &-submit {
      width: 80%;
    }
  }

  &__others {
    margin-top: 26px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    &-header {
      width: 100%;
      display: flex;
      gap: 4px;
      color: #fff;

      h5 {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #fff;
        line-height: 0;

        span {
          background-color: $background-color;
          padding: 0 10px;
        }
      }
    }
  }

  &__google {
    width: 100%;

    &-button {
      width: 100%;
    }
  }
}
