$custom-colors-light: (
  dark-text: #1f1f1f,
  default-text-color: #565656,
  default-background-color: #f5f5f5,
  green: #007d3c,
  link-text: #007d3c,
  steps-container-background-color: #0a9d54,
  white: #ffffff,
  black: #000000,

  mdc-checkbox-selected-icon-color: transparent,
);
