$button-height-standard: 56px;
$button-border-radius-standard: 4px;

// SPACING
$space-0: 0px;
$space-2: 2px;
$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-30: 30px;
$space-32: 32px;
$space-40: 40px;
$space-48: 48px;
$space-50: 50px;

// BREAKPOINTS
$breakpoints: (
  "xs": 320px,
  "sm": 576px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1200px,
  "xxl": 1600px,
  "xxxl": 1920px,

  "hamburger-navbar": 880px,
  "container-app": 1350px,
);

$font-weight-300: 600;
$font-weight-400: 600;
$font-weight-500: 600;
$font-weight-600: 600;
$font-weight-700: 700;

$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-40: 40px;
$font-size-50: 50px;

// COLORS
$white: #ffffff;
$green: #1b7907;
$yellow: #e8bb0b;
