@use "@angular/material" as mat;
@use "./mixins" as mixins;
@use "./palettes" as palettes;
@use "./dark-theme-colors" as colors;

$primary: mat.m2-define-palette(palettes.$dark-green-palette);
$accent: mat.m2-define-palette(palettes.$lime-secondary-palette);
$warn: mat.m2-define-palette(palettes.$red-warn-palette);

$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    custom: colors.$custom-colors-dark,
  )
);

.dark-theme {
  @include mixins.generate-css-variables(colors.$custom-colors-dark);
}
