<!--<app-navigate-back></app-navigate-back>-->

<div class="login-panel__photo">
  <img src="../../../../assets/background-mobile-login.jpg" />
</div>
<div class="login-panel__content">
  <img class="login-panel__logo" src="../../../../assets/logo.png" />
  <form class="login-panel__form">
    <mat-form-field class="login-panel__form-input">
      <mat-label>Email</mat-label>
      <mat-icon matPrefix>person_outline</mat-icon>
      <input matInput type="email" [formControl]="emailFormControl" />
    </mat-form-field>

    <mat-form-field class="login-panel__form-input">
      <mat-label>Password</mat-label>
      <mat-icon matPrefix>lock_open</mat-icon>
      <input type="password" matInput [formControl]="passwordFormControl" />
    </mat-form-field>

    <button class="login-panel__form-submit" mat-flat-button color="accent">
      Submit
    </button>
  </form>

  <div class="login-panel__others">
    <div class="login-panel__others-header">
      <h5><span>Login with others</span></h5>
    </div>

    <div class="login-panel__google">
      <button class="login-panel__google-button" mat-flat-button>
        <mat-icon svgIcon="google"></mat-icon>
        Login with <strong>Google</strong>
      </button>
    </div>
  </div>
</div>
