.recipes {
  width: 100%;

  background: var(--background-image);

  &__header {
    height: 15vh;
    width: 100%;

    display: flex;
    justify-content: center;
    img {
      height: 100%;
    }
  }

  &__list {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
