@use "./app/themes/mixins";

.register-panel {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  &__logo-container {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    width: 70%;
  }

  &__form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__form-submit {
    @include mixins.standard-button-properties();
  }

  &__login-link {
    @include mixins.link;
  }
}
