<app-navigate-back></app-navigate-back>

<div class="register-panel">
  <div class="register-panel__logo-container">
    <img class="register-panel__logo" src="../../assets/logo_dark.png" />
  </div>

  <form
    *ngIf="registerForm"
    class="register-panel__form"
    [formGroup]="registerForm"
    (ngSubmit)="register()"
  >
    <app-input
      label="Firstname"
      type="text"
      [control]="registerForm.controls.firstName"
    />

    <app-input
      label="Lastname"
      type="text"
      [control]="registerForm.controls.lastName"
    />

    <app-input
      label="Email"
      icon="person_outline"
      type="email"
      [control]="registerForm.controls.email"
    />

    <ng-container formGroupName="password">
      <app-input
        label="Password"
        icon="lock_open"
        type="password"
        [control]="registerForm.controls.password.controls.password"
        [passwordToggleVisible]="true"
      />

      <app-input
        label="Confirm Password"
        icon="lock"
        type="password"
        [control]="registerForm.controls.password.controls.confirmPassword"
        [passwordToggleVisible]="true"
      />
    </ng-container>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="register-panel__form-submit"
    >
      {{ "SHARED_SUBMIT" | translate }}
    </button>
  </form>

  <h5>
    {{ "AUTH_LOGIN_PREFIX_TEXT" | translate
    }}<a class="register-panel__login-link" [routerLink]="'../login'">{{
      "AUTH_BACK_TO_LOGIN_PAGE" | translate
    }}</a>
  </h5>
</div>
