@use "./app/themes/mixins";

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  padding: 16px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  &__item {
    @include mixins.nav-button;
    color: var(--dark-text);
    padding: 6px 10px 4px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__logo-img {
    height: 70px;
    cursor: pointer;
  }

  &__user {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__user-icon {
    @include mixins.icon-size(36);
  }
}
