@use "./app/themes/vars" as v;

.recipe-details {
  &__wrapper {
    position: relative;
    margin-top: v.$space-20;
    display: flex;
    gap: v.$space-48;
  }

  &__info {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: v.$space-32;
  }

  &__title {
    font-weight: v.$font-weight-600;
    font-size: v.$font-size-40;
    margin-bottom: v.$space-8;
    padding-left: v.$space-8;
  }

  &__photo-container {
    position: sticky !important;
    top: 40px !important;
    max-height: 550px;
    flex: 2;
    border-radius: v.$space-16;
    overflow: hidden;
  }

  &__photo {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }
}
