<div class="landing-page__photo">
  <img src="../../assets/background-mobile-login.jpg" />
</div>
<div class="landing-page__content">
  <img class="landing-page__logo" src="../../assets/logo.png" />
  <p class="landing-page__description">
    Discover more than 100 food recipes in your hands and cooking it!
  </p>
  <div class="landing-page__actions">
    <button mat-flat-button color="accent" [routerLink]="'auth/login'">
      Log in
    </button>
    <button mat-flat-button>Sign up</button>
    <button mat-button color="accent" [routerLink]="'recipes'">
      Discover recipes without login
    </button>
  </div>
</div>
