<div class="landing-page__content">
  <div class="landing-page__logo-container">
    <img class="landing-page__logo" src="../../assets/logo_dark.png" />
  </div>

  <p class="landing-page__description">
    Discover more than 100 food recipes in your hands and cooking it!
  </p>
  <div class="landing-page__actions">
    <button mat-flat-button color="primary" [routerLink]="'auth/login'">
      Log in
    </button>
    <button mat-flat-button>Sign up</button>
    <button mat-button color="accent" [routerLink]="'recipes'">
      Discover recipes without login
    </button>
  </div>
</div>
