<div class="auth-container">
  <div class="auth-image">
    <img
      class="auth-image__source"
      ngSrc="./assets/auth-image.jpg"
      fill
      alt="food"
    />
  </div>

  <div class="auth-wrapper">
    <div class="auth-logo">
      <img
        class="auth-logo__source"
        src="./assets/logo_dark.png"
        alt="przepiser-logo"
      />
    </div>

    <div class="auth-actions">
      <button mat-flat-button color="primary" class="auth-actions__item">
        {{ "AUTH_LOGIN" | translate }}
      </button>
      <button mat-flat-button color="primary" class="auth-actions__item">
        {{ "AUTH_REGISTER" | translate }}
      </button>
    </div>

    <div class="auth-content"></div>
  </div>
</div>
