@use "@angular/material" as mat;
@import "./app/themes/colors";
@import "./app/themes/light-theme";
@import "./app/themes/dark-theme";
@import "vars.scss";

@include mat.core();

html,
body {
  height: 100%;
}

html {
  @include mat.all-component-themes($light-theme);
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mat-typography {
  h2,
  p {
    margin: 0;
  }
}
