@use "@angular/material" as mat;
@import "./app/themes/light-theme";
@import "./app/themes/dark-theme";
@import "./app/themes/vars";
@import "./app/themes/custom-component-styles";

@include mat.core();

html,
body {
  height: 100%;
}

html {
  @include mat.all-component-themes($light-theme);
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
}

body {
  font-family: Quicksand, "Helvetica Neue", sans-serif !important;
  background-color: var(--default-background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mat-typography {
  h2,
  p {
    margin: 0;
  }
}

.mat-mdc-icon-button.mat-mdc-button-base {
  display: flex;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: red !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: red !important;
}

.mdc-button {
  border-radius: $space-16 !important;
}

.container-app {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1280px;
}
