@use "./app/themes/mixins";

.login-panel {
  min-height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  &__logo-container {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    width: 70%;
  }

  &__form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__form-submit {
    @include mixins.standard-button-properties();
  }

  &__others {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    > * {
      margin: 0;
    }
  }

  &__others-button-icon {
    @include mixins.icon-size(25);
  }

  &__others-login {
    text-align: center;
  }

  &__others-register {
    @include mixins.link;
  }
}
